
.row, .column {
	box-sizing:border-box;
}

.row:before,
.row:after {
	content = "";
	display: table;
	background: blue;
}

.row:after {
	clear:both;
}

.column {
	text-align: center;
	position: relative;
	float: left;
}

.column1 {
	width: 33.33%;
}

.column2 {
	width: 100%;
}

.body { 
	text-align: center;
	display: none;
}

.container {
	padding: 20px;
}

body {
	background: #f6b6ff;
}

header {
	font-family: "Arial";
}
.column {
	background: #ccffb3
}

.date {
	border: 1px solid black;
	border-left: none;
	text-align: right;
}

.sender {
	border: 1px solid black;
	border-right: none;
	text-align: left;
}

.subject {
	border: 1px solid black;
	border-left: none;
	border-right: none;
}

.msgBody {
	border: 1px solid black;
	border-top: none;
	padding: 50px;
}